@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body{
    background-color: #E0F7FA;
}

header{
    background-color: #34383a;
    text-align: center;
    color: #FFF;
}

.containerTarefas{
    text-align: center;
    background-color: #34383a;
    margin-top: 15px;
    padding: 15px;
    color: #FFF;
    border-radius: 10px;
}

.containerTela{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul li{
    list-style-type: none;
}

.completed{
    text-decoration: line-through;
    color: #ffffff7d;
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

form{
    padding: 15px;
}

input{
    border-radius: 4px;
    border: 1px solid #000;
    height: 30px;
    margin: 10px;
    outline: none;
    text-align: center;
    margin-top: 15px;
}

input:focus{
    outline: none;
}

button{
    font-weight: bold;
    font-family: Poppins, sans-serif;
    width: 165px;
    border: none;
    cursor: pointer;
    height: 30px;
    background-color: #FFA500;
    border-radius: 5px;
}

button:hover{
    background-color: #ef9b00;
}

footer{
    text-align: center;
}